html {
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
}

.body {
   display: block;
   margin: 0;
}

.conteiner {
   margin: 0 auto;
   font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

.title {
   font-size: 30px;
   color: rgba(107, 246, 7, 0.909);
}

.textarea {
   display: block;
   width: 700px;
   height: 200px;
   margin: 10px auto 10px;
   padding: 10px;
   font-size: 18px;
   color: #444444;
   overflow: auto;
}

.keyboard {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 700px;
   margin: 0 auto;
   padding: 5px;
   padding-left: 0;
   padding-bottom: 0;
   background: silver;
   border: 3px solid #222222;
   border-radius: 5px;
}

.keyboard-key {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   min-width: 40px;
   height: 40px;
   margin: 2px;
   border: 1px solid black;
   color: #222222;
   background: #fff;
   transition: all .2s;
}

.keyboard-key:hover {
   background: #93f29d;
}

.keyboard-key:active {
   background: rgba(107, 246, 7, 0.909);
   border-radius: 50px;
}

.description,
.language,
.title {
   margin: 10px auto;
   text-align: center;
}

.active {
   background: rgba(107, 246, 7, 0.909);
   border-radius: 50px;
}

.keyboard-key[data-key='backspace'] {
   width: 86px;
}

.keyboard-key[data-key='tab'] {
   width: 86px;
}

.keyboard-key[data-key='enter'] {
   width: 86px;
}

.keyboard-key[data-key='caps lock'] {
   width: 86px;
}

.keyboard-key[data-key='shift'] {
   width: 86px;
}

.keyboard-key[data-key='space'] {
   width: 316px;
}